@charset "utf-8";

body{
	background: #b7b7b7;
	color: #434343;
	font-family: comfortaa;
}

h1 {
	font-family: syncopate;
}

.mat-tab-body{
	padding: 35px 40px;
}

.mat-tab-body-wrapper{
	background-color: #efefef;
	border-radius: 5px;
	height: 70vh;
	margin-top: -5px;
}

.mat-tab-label {
	background: transparent;
	font-family: syncopate !important;
	opacity: 1 !important;
}

.mat-tab-label-active {
	background-color: #efefef !important;
	border-radius: 5px 5px 0 0;
}

.mat-ink-bar{
	visibility: hidden !important;
}

.mat-expansion-panel-header-title{
	font-family: comfortaa;
	font-size: 22px;
}

section.panel{
	width: 100%;
	height: 100%;
}

section.panel aside{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}