[submodule "components/chat/rocket-chat"]
	path = components/chat/rocket-chat
	url = git@github.com:AfrikaBurn/TMI-Chat
[submodule "components/cloud/nextcloud"]
	path = components/cloud/nextcloud
	url = git@github.com:AfrikaBurn/TMI-NextCloud.git
[submodule "components/web"]
	path = components/web
	url = https://github.com/AfrikaBurn/TMI-Web.git
[submodule "components/decide/loomio"]
	path = components/decide/loomio
	url = git@github.com:AfrikaBurn/TMI-Decide.git
[submodule "components/huddle/jitsi-meet"]
	path = components/huddle/jitsi-meet
	url = git@github.com:AfrikaBurn/TMI-Huddle.git
