[submodule "people"]
	path = components/people
	url = https://github.com/AfrikaBurn/tmi-people.git
[submodule "apps/admin"]
	path = components/admin
	url = https://github.com/AfrikaBurn/TMI-Admin.git
