<h1>{{ appName }} People Administration</h1>

<div *ngIf="connecting" class="connecting">
  <mat-spinner></mat-spinner>Connecting...
</div>

<mat-tab-group *ngIf="user && !connecting" class="admin-tab-group">

  <mat-tab label="Users">

    <ng-template mat-tab-label>
      <mat-icon class="md-24">people</mat-icon>&nbsp;<h2>Users</h2>
    </ng-template>
    <mat-card>
      <app-user [config]=config></app-user>
    </mat-card>
  </mat-tab>

  <mat-tab label="Collectives">

    <ng-template mat-tab-label>
      <mat-icon class="md-24">group_work</mat-icon>&nbsp;<h2>Collectives</h2>
    </ng-template>

    <mat-card>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
      Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
      In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
      feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
      orci enim rutrum enim, vel tempor sapien arcu a tellus.
    </mat-card>

  </mat-tab>

  <mat-tab label="Settings">

    <ng-template mat-tab-label>
      <mat-icon class="md-24">build</mat-icon>&nbsp;<h2>Custom</h2>
    </ng-template>

    <mat-card>

      <mat-accordion>

        <mat-expansion-panel label="Profiles">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="md-18">contacts</mat-icon>&nbsp;<h3>Profiles</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel label="Agreements">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="md-18">check_box</mat-icon>&nbsp;<h3>Agreements</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </ng-template>
        </mat-expansion-panel>

        <mat-expansion-panel label="Posts">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon class="md-18">comment</mat-icon>&nbsp;<h3>Posts</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <ng-template matExpansionPanelContent>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
            Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
            In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec,
            feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor,
            orci enim rutrum enim, vel tempor sapien arcu a tellus.
          </ng-template>
        </mat-expansion-panel>

      </mat-accordion>

    </mat-card>

  </mat-tab>

</mat-tab-group>
