<main>

	<h1><div class="icon"></div>{{ title | titlecase }}</h1>

	<mat-tab-group disableRipple>
	  <mat-tab label="Users">
	  	<app-users></app-users>
	  </mat-tab>
	  <mat-tab label="Collectives">
	    <h1>Some more tab content</h1>
	    <p>...</p>
	  </mat-tab>
	  <mat-tab label="Posts">
	    <h1>Some more tab content</h1>
	    <p>...</p>
	  </mat-tab>
	  <mat-tab label="Agreements">
	    <h1>Some more tab content</h1>
	    <p>...</p>
	  </mat-tab>
	  <mat-tab label="Profiles">
	    <h1>Some more tab content</h1>
	    <p>...</p>
	  </mat-tab>
	  <mat-tab label="Schema">
	    <h1>Some more tab content</h1>
	    <p>...</p>
	  </mat-tab>
	</mat-tab-group>

</main>
