<div *ngIf="!(schema || users || position)" class="busy">
  <mat-spinner></mat-spinner>
</div>

<table *ngIf="schema && users && position" mat-table [dataSource]="users">

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element" [ngSwitch]="element.status">
      <mat-icon *ngSwitchCase="'draft'" title="Draft" class="md-24 wipe">build</mat-icon>
      <mat-icon *ngSwitchCase="'active'" title="Activate" class="md-24 wipe">check</mat-icon>
      <mat-icon *ngSwitchCase="'retired'" title="Retire" class="md-24 wipe">pause</mat-icon>
      <mat-icon *ngSwitchCase="'suspended'" title="Suspend" class="md-24 wipe">stop</mat-icon>
      <mat-icon *ngSwitchCase="'deleted'" title="Deleted" class="md-24 wipe">delete_outline</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell *matHeaderCellDef>Username</th>
    <td mat-cell
      *matCellDef="let element"
      (click)="edit(element.id, 'username')"
      [ngClass]="{editing: editing(element.id, 'username')}"
    >
      <div>
        <input
          *ngIf="editing(element.id, 'username')"
          [(ngModel)]="element.username"
          (blur) = "done()"
          (change) = "change(element.id)"
        >
        <span>{{element.username}}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef>Email</th>
    <td mat-cell
      *matCellDef="let element"
      (click)="edit(element.id, 'email')"
      [ngClass]="{editing: editing(element.id, 'email')}"
    >
      <div>
        <input
          *ngIf="editing(element.id, 'email')"
          [(ngModel)]="element.email.value"
          (blur) = "done()"
          (change) = "change(element.id)"
        >
        <span>{{element.email.value}}</span>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon title="Activate" class="md-24 wipe" color="warn">check</mat-icon>
      <mat-icon title="Susend account" class="md-24 wipe" color="warn">pause</mat-icon>
      <mat-icon title="Block account" class="md-24 wipe" color="warn">stop</mat-icon>
      <mat-icon title="Reset password" class="md-24 wipe" color="warn">autorenew</mat-icon>
      &nbsp;
      <mat-icon title="Delete user" class="md-24 wipe" color="warn">delete_outline</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="volatile-action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <mat-icon title="Revert changes" class="md-24 undo" color="accent" *ngIf="changed[element.id]">undo</mat-icon>
      <mat-icon title="Save changes" class="md-24 save" color="primary" *ngIf="changed[element.id]">cloud_upload</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<p *ngIf="anyChanged" class="actions">
  <button mat-raised-button>
    <mat-icon class="md-24" color="accent">undo</mat-icon>
    Revert all
  </button>
  <button mat-raised-button>
    <mat-icon class="md-24" color="primary">cloud_upload</mat-icon>
    Save all
  </button>
</p>
