table{
  width: 100%;
}

td div{
  position: relative;
}

td.editing input{
  border-style: none none solid none;
  box-sizing: border-box;
  margin-right: 20px;
  outline: none;
  position: absolute;
  width: 100%;
}

span{
  cursor: cell;
}

.mat-column-status{
  width: 80px;
}

.mat-column-volatile-action,
.mat-column-action{
  text-align: right;
  width: 104px;
}
.mat-column-action{
  width: 208px;
}

.mat-row input{
  height: 100%;
  font-size: 100%;
}

.mat-row .mat-column-action .mat-icon{
  visibility: hidden;
}
.mat-row:hover .mat-column-action .mat-icon{
  visibility: visible;
}

.mat-column-volatile-action .mat-icon,
.mat-column-action .mat-icon{
  cursor: pointer;
  margin: 0 0 0 10px;
}

.actions{
  text-align: right;
}

.actions button{
  margin-left: 15px;
}