@charset "utf-8";

body{
	background: #b7b7b7;
	color: #434343;
	font-family: comfortaa;
}

h1 {
	font-family: syncopate;

	.icon{
		margin: 0 10px 0 5px;
	}
}

.mat-tab-body{
	padding: 45px 40px;
}

.mat-tab-body-wrapper{
	background-color: #efefef;
	border-radius: 5px;
	min-height: 75vh;
	margin-top: -5px;
	position: relative;
	z-index: 2;
}

.mat-tab-label {
	background: transparent;
	font-family: syncopate !important;
	opacity: 1 !important;
}

.mat-tab-label-active {
	background-color: #efefef !important;
	border-radius: 5px 5px 0 0;
}

.mat-ink-bar{
	visibility: hidden !important;
}

.mat-expansion-panel-header-title{
	font-family: comfortaa;
	font-size: 22px;
}

.mat-input-wrapper{
	margin: 0 0 20px;
}

.mat-input-container{
	width: 100%;
}

.form-actions{
	text-align: right;

	button{
		margin-left: 10px;
	}
}

section.panel{
	width: 100%;
	height: 100%;
}

section.panel aside{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
}

fieldset{
	border: none;
	margin: 0 0 30px;
	padding: 0 30px;
}