<div *ngIf="element">

	<mat-form-field *ngIf="isVisible()" [ngSwitch]="getType()" [formGroup]="formGroup">

	  <input matInput *ngSwitchCase="'output'"
	  	[formControlName]="key" 
	  	[formControl]="control"
	  	type="text"
	  	readonly
		>

	  <input matInput *ngSwitchCase="'textbox'"
	  	placeholder="{{ element.title }}"
	  	[formControlName]="key" 
	  	[formControl]="control"
	  	type="text"
		>

    <mat-error *ngIf="!isValid()">
    	<span *ngIf="control.errors.required">Is required</span>
    </mat-error>

    <mat-hint *ngIf="element.description">{{ element.description }}</mat-hint>

	</mat-form-field>

</div>